<!DOCTYPE HTML>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="#{content.headTitle}">title</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
		.body{
			background-color : #EEFFFF;
		}
		.header_div{
			background-color : #75A9FF !important;
		}
		.header_ul{
			display: flex;
			list-style: none;
		}
		.header_li:last-child{
			margin-left: auto;
		}
		.header_li{
			border-left: 1px solid #333;
			border-right: 1px solid #333;
			padding : 0 10px;
		}
		.header_li+.header_li{
			border-left: 0;
			border-right: 1px solid #333;
		}
	</style>
</head>

<body>
	<!-- ヘッダー -->
	<header>
		<div class="header_div">
			<ul class="header_ul">
				<li class="header_li">プロジェクト</li>
				<li class="header_li">マイページ</li>
				<li class="header_li">ログアウト</li>
			</ul>
		</div>
	</header>
</body>

</html>
